<% layout('./layouts/default') -%>

<% block('title', message + ' ' + error.status); -%>

  <h1><%= message %></h1>
  <h2>Error status [<% if (error.status) { %>
    <%- error.status -%>
  <% } -%>
  ]</h2>
  <pre><%= error.stack %></pre>
