<% layout('/layouts/default') -%>

<h1><%- title %></h1>
<p>Hello<% if (locals.username) { %>
 <%- username -%>
<% } %>!
</p>

<% if (locals.message) { -%>
<p class="bg-success">Success: <%- message -%></p>
<% } -%>

<a href="login" class='btn btn-primary'>Login</a>
