<% layout('./layouts/default') -%>

<% block('title', title); -%>

<div class="row" style="border: 1px solid #def;">
  <div class="col-xs-8 header_vertical-center">
    <h1><%- title -%></h1>
  </div><!--
 --><div class="col-xs-2 header_vertical-center">
    <% if (locals.username) { -%>
      <span class="user-name"><%- username -%></span></div><!--
 --><div class="col-xs-2 header_vertical-center h-right">
      <a href="logout" class='btn btn-primary'>Logout</a>
    <% } else { -%>
      </div><!--
 --><div class="col-xs-2 header_vertical-center header_horizontal-right">
      <a href="/a/login" class='btn btn-primary'>Login</a>
    <% } -%>
  </div>
</div>

<h2>Hello<% if (locals.username) { -%>
 <%- username -%>
<% } %>!
</h2>

<% if (locals.message) { -%>
<p class="bg-success">Success: <%- message -%></p>
<% } -%>


