<% layout('./layouts/default') -%>

<% block('title', title); -%>

<h1><%- title %></h1>

<div class="input-group">
  <span class="input-group-addon" id="used-addons-1">Name</span>
  <input type="text" class="form-control" placeholder="Username" name="name" id="name" area-describedby="used-addons-1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="used-addons-2">Password</span>
  <input type="password" class="form-control" placeholder="Password" name="pwd" id="pwd" area-describedby="used-addons-2">
</div>
<button class='btn btn-primary' onclick="false;">Save</button>
